<!DOCTYPE html>
<html>
<head>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="/javascript/support.js"></script>
  <script src="/javascript/application.js"></script>
  <title>Motivational Posters</title>
</head>
<body>
  <header>
    <h1>Motivational Posters</h1>
  </header>
  <section id="select-image">
    <h2>Step 1. Select an image</h2>
    <p>Enter the keyword to search for images</p>
      <input id="search-term" type="text">
      <button id="go-search">Go!</button>
      <div id="search-results"></div>
      <div id="branding"></div>
  </section>
  <section id="add-text">
    <h2>Step 2. Add Text</h2>
    <input id="text" type="text" value="Curiosity is one of the great secrets of happiness">
  </section>
  <section id="style-image">
    <h2>Step 3. Style it!</h2>
    <div id="workspace">
      <p id="caption"></p>
    </div>
    <div id="controls">
      Left: <input type="number" value="10" id="left">
      Top: <input type="number" value="10" id="top">
      Width: <input type="number" value="400" id="width">
      Size: <input type="number" value="32" id="size">
      Colour: <select id="colour">
                <option>Black</option>
                <option>Navy</option>
                <option>DarkBlue</option>
                <option>MediumBlue</option>
                <option>Blue</option>
                <option>DarkGreen</option>
                <option>Green</option>
                <option>Teal</option>
                <option>DarkCyan</option>
                <option>DeepSkyBlue</option>
                <option>DarkTurquoise</option>
                <option>MediumSpringGreen</option>
                <option>Lime</option>
                <option>SpringGreen</option>
                <option>Aqua</option>
                <option>Cyan</option>
                <option>MidnightBlue</option>
                <option>DodgerBlue</option>
                <option>LightSeaGreen</option>
                <option>ForestGreen</option>
                <option>SeaGreen</option>
                <option>DarkSlateGray</option>
                <option>LimeGreen</option>
                <option>MediumSeaGreen</option>
                <option>Turquoise</option>
                <option>RoyalBlue</option>
                <option>SteelBlue</option>
                <option>DarkSlateBlue</option>
                <option>MediumTurquoise</option>
                <option>Indigo</option>
                <option>DarkOliveGreen</option>
                <option>CadetBlue</option>
                <option>CornflowerBlue</option>
                <option>RebeccaPurple</option>
                <option>MediumAquaMarine</option>
                <option>DimGray</option>
                <option>SlateBlue</option>
                <option>OliveDrab</option>
                <option>SlateGray</option>
                <option>LightSlateGray</option>
                <option>MediumSlateBlue</option>
                <option>LawnGreen</option>
                <option>Chartreuse</option>
                <option>Aquamarine</option>
                <option>Maroon</option>
                <option>Purple</option>
                <option>Olive</option>
                <option>Gray</option>
                <option>SkyBlue</option>
                <option>LightSkyBlue</option>
                <option>BlueViolet</option>
                <option>DarkRed</option>
                <option>DarkMagenta</option>
                <option>SaddleBrown</option>
                <option>DarkSeaGreen</option>
                <option>LightGreen</option>
                <option>MediumPurple</option>
                <option>DarkViolet</option>
                <option>PaleGreen</option>
                <option>DarkOrchid</option>
                <option>YellowGreen</option>
                <option>Sienna</option>
                <option>Brown</option>
                <option>DarkGray</option>
                <option>LightBlue</option>
                <option>GreenYellow</option>
                <option>PaleTurquoise</option>
                <option>LightSteelBlue</option>
                <option>PowderBlue</option>
                <option>FireBrick</option>
                <option>DarkGoldenRod</option>
                <option>MediumOrchid</option>
                <option>RosyBrown</option>
                <option>DarkKhaki</option>
                <option>Silver</option>
                <option>MediumVioletRed</option>
                <option>IndianRed</option>
                <option>Peru</option>
                <option>Chocolate</option>
                <option>Tan</option>
                <option>LightGray</option>
                <option>Thistle</option>
                <option>Orchid</option>
                <option>GoldenRod</option>
                <option>PaleVioletRed</option>
                <option>Crimson</option>
                <option>Gainsboro</option>
                <option>Plum</option>
                <option>BurlyWood</option>
                <option>LightCyan</option>
                <option>Lavender</option>
                <option>DarkSalmon</option>
                <option>Violet</option>
                <option>PaleGoldenRod</option>
                <option>LightCoral</option>
                <option>Khaki</option>
                <option>AliceBlue</option>
                <option>HoneyDew</option>
                <option>Azure</option>
                <option>SandyBrown</option>
                <option>Wheat</option>
                <option>Beige</option>
                <option>WhiteSmoke</option>
                <option>MintCream</option>
                <option>GhostWhite</option>
                <option>Salmon</option>
                <option>AntiqueWhite</option>
                <option>Linen</option>
                <option>LightGoldenRodYellow</option>
                <option>OldLace</option>
                <option>Red</option>
                <option>Fuchsia</option>
                <option>Magenta</option>
                <option>DeepPink</option>
                <option>OrangeRed</option>
                <option>Tomato</option>
                <option>HotPink</option>
                <option>Coral</option>
                <option>DarkOrange</option>
                <option>LightSalmon</option>
                <option>Orange</option>
                <option>LightPink</option>
                <option>Pink</option>
                <option>Gold</option>
                <option>PeachPuff</option>
                <option>NavajoWhite</option>
                <option>Moccasin</option>
                <option>Bisque</option>
                <option>MistyRose</option>
                <option>BlanchedAlmond</option>
                <option>PapayaWhip</option>
                <option>LavenderBlush</option>
                <option>SeaShell</option>
                <option>Cornsilk</option>
                <option>LemonChiffon</option>
                <option>FloralWhite</option>
                <option>Snow</option>
                <option>Yellow</option>
                <option>LightYellow</option>
                <option>Ivory</option>
                <option>White</option>
              </select>
      Align: <select id="align">
                <option>left</option>
                <option>right</option>
              </select>
    </div>
    <div id ="social-media">
        <p><a href="https://twitter.com/share" class  ="twitter-share-button" data-text="I built a 'Motivational Posters' page today here on my way in to work (@makersacademy)!">Tweet</a></p>
      <p><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <div class="fb-like" data-href="https://tranquil-headland-1656.herokuapp.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></p>
    </div>
  </section>
</body>
<footer>
  <div>
    I built this page during the precourse phase for <a href="http://makersacademy.com/">Makers Academy</a>, a highly selective 12 week coding course in London.
  </div>
  <div>
    This page uses <a href="https://images.google.co.uk/">Google Image search</a>, <a href="https://www.ruby-lang.org/">Ruby</a>, <a href="http://www.sinatrarb.com/">Sinatra</a>, <a href="https://www.javascript.com/">Javascript</a>, <a href="https://jquery.com/">jQuery</a>, <a href="http://www.w3.org/html/">HTML</a> and <a href="http://www.w3.org/Style/CSS/">CSS</a>.
  </div>
  <div>
    Built by Rob Stevenson.
  </div>
</footer>
</html>
