body {
  text-align: center;
  background-image: url(/images/escheresque.png);
  color: DimGray;
  font-family: Tahoma, Arial;
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 44px;
  padding: 5px;
  background-color: rgba(245,19,41,0.6);
  box-shadow: 1px 0 3px rgba(0,0,0,0.3);
}

#select-image {
  background-color: rgba(249,128,32,0.6);
  padding: 10px;
}

#search-results img {
  border: 2px solid rgb(249,128,32);
  margin: 10px;
}

#branding {
  width: 10%;
  margin: auto;
}

#add-text {
  background-color: rgba(249,235,24,0.6);
  padding: 10px;
  box-shadow: 1px 0 3px rgba(0,0,0,0.3);
}

#add-text input {
  width: 600px;
  text-align: center;
}

input, button {
  font-size: 16px;
}

#style-image {
  background-color: rgba(155,236,26,0.6);
  padding: 10px;
  box-shadow: 1px - 3px rgba(0,0,0,0.3);
}

#controls {
  padding: 10px;
  font-size: 14px;
}

input[type="number"] {
  width: 50px;
}

#workspace {
  width: 600px;
  min-height: 300px;
  border: 5px dashed darkred;
  margin: 0 auto;
  position: relative;
}

#workspace img {
  width: 600px;
}

#caption {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  width: 400px;
  font-size: 32px;
  color: darkred;
  margin: 0;
}

#social-media {  
  width: 10%;
  margin: auto;
}

footer {
  background-color: rgba(61,222,30,0.6);
  padding: 10px;
  text-align: left;
  box-shadow: -1px 0 5px rgba(0,0,0,0.3);
}

footer img {
  float: left;
  margin-right: 40px;
}

footer div {
  margin: 10px 0;
}